<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "partials/seo.njk" %}
<style>{% include "css/bs.css" %}</style>
<style>{% include "css/main.css" %}</style>
<style>{% getBundle "css" %}</style>
</head>
<body>
<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
{% include "partials/nav.njk" %}
<div id="main">
{{content|safe}}
</div>
{% include "partials/reservation.njk" %}
{% include "partials/contact.njk" %}
{% include "partials/footer.njk" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/bs.js"></script>
</body>
</html>