<header class="container-fluid align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-10 mx-auto text-center p-5">
            <h1 class="h-text text-uppercase p-3"><strong>
			<a href="{{page.url}}" class="none">{{title}}</a></strong></h1>
            <h2 class="mb-5">{{description}}</h2>
			</div>
            <img class="img-fluid col-md-11 mx-auto mb-5 header-cover" alt="{{title}}" src="{{image or metadata.image}}"/>
    </div>
</header>